{% extends 'manager/managerHome.html.twig' %}



{% block body %}

<section class="demande">

  {% if demande is not empty %}
  <div class="row">
    <div class="col-lg-6">
      <h3>Demande n°{{demande.id}}</h3>

      {% if POST.validerReponse is not empty %}
      <p class="alert alert-success">Votre réponse a bien été envoyée.</p>
      {% endif %}
    </div>

  </div>

  <hr>

  <div class="row headerDemande bg-info">
    <p class="col-lg-6"><b>Auteur de la demande : </b> {{demande.manager}}</p>
    <p class="col-lg-6"><b>Adresse mail : </b> {{demande.emailManager}}</p>
    <p class="col-lg-6"><b>Agence :</b>  {{demande.nomAgence}} ({{demande.departement}})</p>
    <p class="col-lg-6"><b>Date de la demande : </b> {{demande.datePost|date('d/m/Y à h:m:s')}}</p>
    <p class="col-lg-6"> <b>Personne concernée : </b> {{demande.personne_concerne}}</p>
    <p class="col-lg-6"> <b>Identifiant personne concernée : </b> {{demande.id_concerne}}</p>
  </div>

  <h4><b>Thème : {{demande.libelleTheme}}</b></h4>

  <div class="corpsDemande row bg-success">
    <p class="col-lg-12"><i>Demande de {{demande.manager}} le {{demande.datePost|date('d/m/Y à h:m:s')}}</i></p>
    <p class="col-lg-12"><b>Description : </b> <br>{{demande.description}}</p>
  </div>

  {% for reponse in reponses %}
    {% if reponse.auteurRole == 2 %}
    <div class="corpsDemande row bg-warning">
      <p class="col-lg-12"><i>Réponse de {{reponse.auteur}} le {{reponse.date|date('d/m/Y à H:i:s')}}</i></p>
      <p class="col-lg-12"><b>Description : </b> <br>{{reponse.contenu}}</p>
    </div>
    {% elseif reponse.auteurRole == 1 %}
    <div class="corpsDemande row bg-success">
      <p class="col-lg-12"><i>Réponse de {{reponse.auteur}} le {{reponse.date|date('d/m/Y à H:i:s')}}</i></p>
      <p class="col-lg-12"><b>Description : </b> <br>{{reponse.contenu}}</p>
    </div>
    {% endif %}
  {% endfor %}

    <!-- le manager peut ajouter une réponse à sa demande que si
    celle-ci est en attente de traitement, ou en attente d'infos complémentaires -->
    {% if demande.etatDemande == "En attente" or demande.etatDemande == "Demande d'infos complémentaires" %}
    <h4>Répondre : </h4>
      <form class="form row" action="managerConsulterDemande.php?id_demande={{demande.id}}" method="post">
        <div class="input-group col-lg-8">
          <textarea name="reponseDemande" class="form-control" rows="8" cols="80" placeholder="(1000 caractères max)" name="contenuReponse" required="true"></textarea>
        </div>

        <div class="input-group col-xs-8">
          <label>Ajouter une pièce jointe :</label>
          <input type="file" name="pj">
          <br>
        </div>

        <input type="submit" class="btn btn-success" value="Envoyer" name="validerReponse">
      </form>

      {% elseif demande.etatDemande == "Envoyée au national" %}
      <p class="alert alert-warning">Votre demande a été envoyée au national. Vous serez recontacté prochainement.</p>

      {% elseif demande.etatDemande == "Traitée" %}
      <p class="alert alert-success">Votre demande a été traitée et validée</p>
    {% endif %}

  <!-- Si variable demande est nulle : Erreur la demande n'existe pas -->
  {% else %}
  <p class="alert alert-danger">Erreur : La demande que vous essayez de consulter n'existe pas ou a été supprimée</p>
  <a href="managerSuivi.php"><button type="button" class="btn btn-warning" name="button">Retour à la liste des demandes.</button></a>

  {% endif %}
</section>
{% endblock %}
