{% extends 'expert/expertHome.html.twig' %}



{% block body %}
<section>
  <h3>Liste des post-its actuellement sur la page d'accueil : </h3>

  <table class="table table-bordered">
    <tr>
      <td>N°</td>
      <td>Titre</td>
      <td>Question</td>
      <td>Réponse</td>
      <td>Actions</td>
    </tr>

    {% for postit in postits %}
    <tr>
      <td>{{postit.id}}</td>
      <td>{{postit.titre}}</td>
      <td>{{postit.questionType}}</td>
      <td>{{postit.reponseType}}</td>
      <td>
        <a href="expertPostits.php?choix=edit&amp;id_postit={{postit.id}}">
          <button type="button" class="btn btn-primary" name="button">Modifier</button>
        </a>

        <a href="expertPostits.php?choix=delete&amp;id_postit={{postit.id}}">
          <button type="button" class="btn btn-danger" name="button">Supprimer</button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <ul class="pagination row">
    {% for i in 1..nbPage %}
    {% if GET.numPage == i %}
    <li class="active"><a href="expertPostits.php?numPage={{i}}">{{i}}</a></li>
    {% else %}
    <li><a href="expertPostits.php?numPage={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

</section>
{% endblock %}
