{% extends 'layout.html.twig' %}

{% block navbar %}
<a class="col-xs-4 col-lg-2 home" href="expertHome.php"><h3>Fil Réseau</h3></a>


{% if SESSION.user is not null %}
<div class="col-xs-4 col-lg-7">
  <ul class="nav nav-pills">
    <li role="presentation" class="navElement"><a href="expertHome.php">Demandes en attente de résolution</a></li>
    <li role="presentation" class="navElement"><a href="expertPostits.php">Gestion post-its</a></li>
    <li role="presentation" class="navElement"><a href="expertRechercheDemande.php">Recherche demande</a></li>
  </ul>
</div>

<div class="col-xs-4 col-lg-3">
  <p>Connecté en tant que {{SESSION.user.prenom}}</p>
  <a href="deconnexion.php">Se déconnecter</a>
</div>
{% endif %}

{% endblock %}

{% block body %}
<div class="intro">
  <h3>Bienvenue sur Fil Réseau : Votre outil de gestion des demandes.</h3>
  <p>Consultez la liste des demandes en cours, traitez celles que vous souhaitez et sauvegardez dans la bibliothèque les réponses les plus "utiles"</p>
</div>


<div>
  <h3>Demandes en attente de résolution</h3>
  {% if demandes is empty %}
  <p class="alert alert-success">Aucune demande en attente de résolution</p>
  {% else %}
  <table class="table table-bordered">
    <tr class="bg-primary">
      <td>N° de demande</td>
      <td>Thème</td>
      <td>Date</td>
      <td>Action</td>
    </tr>

    {% for demande in demandes %}
    <tr>
      <td>{{demande.id}}</td>
      <td>{{demande.libelleTheme}}</td>
      <td>{{demande.datePost|date('d/m/Y à H:i:s')}}</td>
      <td><a href="expertDemande.php?id_demande={{demande.id}}"><button type="button" class="btn btn-success">Consulter</button></a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>


{% endblock %}
