<div class="blocGestion">
  <form class="form-inline" action="adminGestion.php?table=manager" method="post">
      <label for="">Ajouter un nouveau Manager : </label>
      <select class="form-control" name="id_manager">
        {% for user in users %}
        <!-- On affiche que les utilisateurs qui ne sont pas déjà managers -->
          {% if user.role != 1 %}
          <option value='{{user.id}}'>{{user.prenom}} {{user.nom}}</option>
          {% endif %}
        {% endfor %}
      </select>

      <input type="submit" class="btn btn-success"  value="Ajouter">

      {% if POST.id_manager is not null %}
        {{confirmAjoutManager}}
      {% endif %}

      {% if GET.id_manager is not null %}
        {{confirmSuprManager}}
      {% endif %}
  </form>

  <h3>Liste des Managers : </h3>

    {% if managers is empty %}
      <h4>Aucun Manager n'a encore été ajouté.</h4>
    {% else %}

    <table class="table table-bordered">
      <tr>
        <td><h4>N° Utilisateur</h4></td>
        <td><h4>Nom et prénom</h4></td>
        <td><h4>Agence</h4></td>
        <td><h4>Actions</h4></td>
      </tr>

      {% for manager in managers %}
      <tr>
        <td>{{manager.id}}</td>
        <td>{{manager.nom}} {{manager.prenom}}</td>
        <td>
          {% if manager.nomAgence is not null %}
          {{manager.nomAgence}} ({{manager.departementAgence}})
          {% else %}
            Agence non renseignée
          {% endif %}
        </td>
        <td>
          <a href="adminGestion.php?id_manager={{manager.id}}&amp;table=manager"><button class="btn btn-danger" type="button" name="delete">Supprimer</button></a>
        </td>
      </tr>
      {% endfor %}

    </table>
    {% endif %}

</div>
