<div class="blocGestion">
  <form class="form-inline" action="adminGestion.php" method="post">
      <label for="">Ajouter un nouveau thème : </label>
      <input class="form-control" type="text" name="libelleTheme" placeholder="Saisissez l'intitulé du thème à ajouter">
      <input type="submit" class="btn btn-success"  value="Ajouter">
      {% if POST.libelleTheme is not null %}
        {{confirmAjoutTheme}}
      {% endif %}

      {% if GET.id_theme is not null %}
        {{confirmSuprTheme}}
      {% endif %}
  </form>

  <h3>Liste des thèmes : </h3>

    {% if themes is empty %}
      <h4>Aucun thème n'a encore été ajouté.</h4>
    {% else %}

    <table class="table table-bordered">
      <tr>
        <td><h4>Intitulé du thème</h4></td>
        <td><h4>Actions</h4></td>
      </tr>

      {% for theme in themes %}
      <tr>
        <td>{{theme.libelle}}</td>
        <td>
          <a href="adminGestion.php?id_theme={{theme.id}}"><button class="btn btn-danger" type="button" name="delete">Supprimer</button></a>
        </td>
      </tr>
      {% endfor %}

    </table>

    <ul class="pagination row">
      {% for i in 1..nbPagesThemes %}
      {% if GET.numPage == i %}
      <li class="active"><a href="adminGestion.php?numPage={{i}}">{{i}}</a></li>
      {% else %}
      <li><a href="adminGestion.php?numPage={{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

</div>
