<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../templates/css/bootstrap.css">
  <link rel="stylesheet" href="../templates/css/style.css">

  <title>Fil Réseau : Votre outil de gestion des demandes</title>
</head>


<body>
  <div class="row">
    <div class="logo col-lg-3 col-md-4 col-sm-4 col-xs-4">
      {% if SESSION.user.role == 1 %}
      <a href="managerHome.php">
        <img class="img-responsive" src="../img/logoPE.png" alt="logoPoleEmploi" width="50%">
      </a>
      {% elseif SESSION.user.role == 2 %}
      <a href="expertHome.php">
        <img class="img-responsive" src="../img/logoPE.png" alt="logoPoleEmploi" width="50%">
      </a>
      {% elseif SESSION.user.role == 3 %}
      <a href="adminHome.php">
        <img class="img-responsive" src="../img/logoPE.png" alt="logoPoleEmploi" width="50%">
      </a>
      {% else %}
      <a href="index.php">
        <img class="img-responsive" src="../img/logoPE.png" alt="logoPoleEmploi" width="50%">
      </a>
      {% endif %}
    </div>

    <div class="header-titre col-lg-6 col-md-5 col-sm-4 col-xs-4">

      <h2>Fil Reseau</h2>
      <h4>Outil de Gestion des Demandes</h4>
      <hr>
    </div>


    {% if SESSION.user is null %}
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 blocUser">
      {% include 'connexion.html.twig' %}
    </div>
    {% if erreurConnect is not null %}
    <p>{{erreurConnect}}</p>
    {% endif %}

    {% else %}
    <div class="col-lg-3 connected">
      <h4>Connecté en tant que {{SESSION.user.prenom}}</h4>
      <a href="deconnexion.php">Se déconnecter</a>
    </div>
    {% endif %}
  </div>

  <div class="row container-fluid navbar">
    {% block navbar %}
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-10">
      <ul class="nav nav-pills">
        {% if SESSION.user.role == 1 %}
        <li role="presentation" class="navElement"><a href="managerHome.php">Espace utilisateur</a></li>
        {% elseif SESSION.user.role == 2 %}
        <li role="presentation" class="navElement"><a href="expertHome.php">Espace utilisateur</a></li>
        {% elseif SESSION.user.role == 3 %}
        <li role="presentation" class="navElement"><a href="adminHome.php">Espace utilisateur</a></li>
        {% endif %}
        <li role="presentation" class="navElement"><a href="archive.php">Consulter archives</a></li>
        <li role="presentation" class="navElement"><a href="contact.php">Contacter un administrateur</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>

  <section class="container">
    {% block body %}
    {% for utilisateur in utilisateurs %}
    <p>{{utilisateur.nom}}</p>
    {% endfor %}
    {% if confirmInscription is not null %}
    <p class="alert alert-success">{{confirmInscription}}</p>
    {% endif %}
    <h2>Bienvenue sur Fil Réseau : Votre platforme de gestion des demandes.</h2>

    <h3>Fil d'actualité : {{test}}</h3>
    <p class="alert alert-info">Les questions et réponses suivantes ont été jugées utiles.
      Si la réponse à votre demande n'y apparait pas, vous pouvez formuler une nouvelle demande en vous connectant à la platforme en tant que Manager.
    </p>

    {% if postits is empty %}
    <p class="alert alert-warning">Aucun post-it n'a été ajouté pour le moment</p>

    {% else %}
    <div class="actualite">
      <div class="row">
        <div class="col-xs-6">
          {% for postit in postits %}
          <ul>
            <li><a href="index.php?id_postit={{postit.id}}&amp;numPage={{GET.numPage}}">{{postit.titre}}</a></li>
          </ul>
          {% endfor %}
        </div>

        {% if GET.id_postit is not null %}
        <div class="col-xs-6">
          <h4>{{postit.titre}} :</h4>
          <p><i>Publié par {{postit.expert}} le {{postit.date|date('d/m/Y')}}</i></p>
          <p><b>Question :</b> {{postit.questionType}}</p>
          <p><b>Reponse :</b> {{postit.reponseType}}</p>
        </div>
        {% endif %}
      </div>

      <ul class="pagination row">
        {% for i in 1..nbPage %}
        {% if GET.numPage == i %}
        <li class="active"><a href="index.php?numPage={{i}}">{{i}}</a></li>
        {% else %}
        <li><a href="index.php?numPage={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>

    {% endif %}

    {% endblock %}
  </section>

</body>





</html>
